*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  background-image: radial-gradient(circle at 50% 0, #1f3756, #141539);
  background-repeat: no-repeat;
  text-align: center;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
}

body #main-con {
  margin: 0 auto;
  width: 700px;
  max-width: 100%;
  position: relative;
}

body #main-con header {
  border: 2px solid #606e85;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 50px;
  margin-top: 10px;
}

body #main-con header .header-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
}

body #main-con header .header-con .header-text {
  color: white;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

body #main-con header .header-con .score-con {
  background-color: white;
  width: 180px;
  max-width: 100%;
  padding: 20px;
  border-radius: 10px;
}

body #main-con header .header-con .score-con .score-text {
  color: #2a46c0;
  font-size: 1.2rem;
}

body #main-con header .header-con .score-con #score-value {
  font-size: 4rem;
  color: #3b4363;
}

body #main-con .option {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin: 25px;
}

body #main-con .option span {
  background-color: white;
  display: inline-block;
  border-radius: inherit;
  width: 130px;
  height: 130px;
  padding: 30px;
}

body #main-con #papper-con {
  background-image: linear-gradient(0deg, #4865f4, #5671f5);
}

body #main-con #scissors-con {
  background-image: linear-gradient(0deg, #ec9e0e, #eca922);
}

body #main-con #rock-con {
  background-image: linear-gradient(0deg, #dc2e4e, #dd405d);
}

body #main-con #game-con {
  display: flex;
  width: 500px;
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 400px;
}

body #main-con #game-con button {
  cursor: pointer;
}

body #main-con #result-con {
  display: none;
}

body #main-con #result-con #choice-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body #main-con #result-con p {
  text-transform: uppercase;
  color: white;
  font-size: 1.3rem;
}

body #main-con #result-con #result {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body #main-con #result-con #result .show-winner {
  display: flex;
  flex-direction: column;
}

body #main-con #result-con #result .show-winner h1 {
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
}

body #main-con #result-con #result .show-winner button {
  width: 150px;
  height: 35px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

body #main-con .rules-con {
  position: fixed;
  background-color: #f5f3f3;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body #main-con .rules-con div:first-child {
  margin-bottom: 50px;
}

body #main-con .rules-con #close-btn {
  cursor: pointer;
}

body #main-con .show-rules {
  display: flex;
}

body #main-con #rules-btn {
  width: 100px;
  height: 30px;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  position: fixed;
  border: 1px solid white;
  right: 40px;
  cursor: pointer;
  bottom: 80px;
}

body #main-con .attribution {
  position: fixed;
  bottom: 20px;
  color: white;
  font-size: 1rem;
}

@media screen and (max-width: 780px) {
  body {
    height: 100vh;
    width: 100vw;
  }
  body #main-con {
    width: 600px;
  }
  body #main-con .option {
    width: 150px;
    height: 150px;
  }
  body #main-con .option span {
    width: 100px;
    height: 100px;
    padding: 20px;
  }
  body #main-con #game-con {
    display: flex;
    width: 500px;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
  }
  body #main-con #result-con p {
    text-transform: uppercase;
    color: white;
    font-size: 1.3rem;
  }
  body #main-con #result-con #result .show-winner h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 650px) {
  body {
    height: 100vh;
    width: 100vw;
  }
  body #main-con {
    width: 540px;
  }
  body #main-con .option {
    width: 150px;
    height: 150px;
  }
  body #main-con .option span {
    width: 100px;
    height: 100px;
    padding: 20px;
  }
  body #main-con #game-con {
    display: flex;
    width: 500px;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
  }
  body #main-con #result-con p {
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
  }
  body #main-con #result-con #result .show-winner h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 560px) {
  body {
    height: 100vh;
    width: 100vw;
  }
  body #main-con {
    width: 500px;
  }
  body #main-con .option {
    width: 130px;
    height: 130px;
  }
  body #main-con .option span {
    width: 100px;
    height: 100px;
    padding: 20px;
  }
  body #main-con #game-con {
    display: flex;
    width: 500px;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
  }
  body #main-con #result-con p {
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
  }
  body #main-con #result-con #result .show-winner h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 520px) {
  body {
    font-size: 14px;
    overflow: hidden;
  }
  body #main-con {
    width: 400px;
  }
  body #main-con header {
    width: 400px;
    max-width: 100%;
  }
  body #main-con header .header-con .header-text {
    font-size: 1.5rem;
  }
  body #main-con header .header-con .score-con {
    width: 120px;
  }
  body #main-con header .header-con .score-con .score-text {
    font-size: 1rem;
  }
  body #main-con header .header-con .score-con #score-value {
    font-size: 3rem;
    color: #3b4363;
  }
  body #main-con .option {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 5px;
  }
  body #main-con .option span {
    background-color: white;
    display: inline-block;
    border-radius: inherit;
    width: 80px;
    height: 80px;
    padding: 5px;
  }
  body #main-con #game-con {
    display: flex;
    width: 400px;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 400px;
  }
  body #main-con #game-con button {
    cursor: pointer;
  }
  body #main-con #result-con #choice-con {
    justify-content: space-around;
  }
  body #main-con #result-con #result {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  body #main-con #result-con #result .show-winner {
    order: 1;
  }
  body #main-con #rules-btn {
    bottom: 50px;
  }
  body #main-con .attribution {
    left: 20px;
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=styles.css.map */